.company-details-container {

    position relative

    .company-details {
        display none
        position relative
        min-height 400px
        margin 10px 0px 10px 10px
        width: calc(100% - 30px);
        top: 0;
        border-radius: 5px;
        padding: 10px;
        background #eee

        & .company-fade-in {
            opacity 0
            transition opacity 1s
            -webkit-transform: translateZ(0);
            position: relative;
            z-index: 2;

            & .content-info {
                text-align: left;
                margin-left: 30px;

                & .date-info {
                    top: -15px;
                    margin-bottom: 10px;
                    position: relative;
                    font-style: italic;
                    font-size: 12px;
                }
            }
        }
        
        &.selected {
            display block

            // & .company-fade-in {
            //     opacity 1    
            // }
        }


        .company-canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            // z-index: 1;
            top: 0;
            left: 0;
            border-radius: 5px;
            overflow: hidden;

            canvas {
                width 100%
                height 100%
                transition opacity 1s
                opacity 1
            }
        }
    }

}


@media (max-width:400px) {
    .company-details-container {
        overflow hidden
        
        .company-details {
            border-radius 0
            width 100%
            margin 10px 0

        }
    }
}