.slick-initialized .slick-slide {
    display flex
    justify-content space-around
}

.slick-list, .slick-slide {
    outline none !important
}

.slick-next, .slick-prev {
    width 60px
    height 173px
    vertical-align middle
    opacity 0.2
    background black
    color white
    top 86px
    font-size 25px
    transition opacity .5s
    z-index 9999

    &:before {
        content ''
    }

    &:hover {
        opacity 0.7
        background black
    }

    svg {
        top calc(50% - 25px)
        position relative
    }
}




.company-list-container {
    flex 1
    display flex
    flex-flow column

    .company-icon-container {
        width 200px
        height 100px
        background url() no-repeat center center
        background-color white       
        // display block
        border 1px solid black
        margin 10px
        border 3px solid #EEE
        border-radius 5px
        padding 10px
        background-size 75%
        cursor pointer

        &:after {
            display block
            position relative
            background-image linear-gradient(to bottom,transparent 0%,#000 390%)
            margin-top -9px
            height 120px
            width 110%
            content ''
            left -10px
            border-radius 5px
        }

    }

    .company-container {
        position:relative;
        opacity 0.7
        transition opacity 0.5s

        &.selected {
            opacity 1    
        }

        &.selected:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 123px;
            width: 0;
            height: 0;
            border-top: solid 7px #eee;
            border-left: solid 7px transparent;
            border-right: solid 7px transparent;
        }
    }

}

@media (max-width:400px) {
    .slick-next, .slick-prev {
        top: 46px;
        width: 50px;
        height: 95px;
        opacity: 0.2;
        font-size: 20px;

        svg {
            top calc(50% - 20px)
        }
    }

    .company-list-container {
        // display flex
        margin 0
        padding 0px

        .company-container {
            &.selected {
                &:after {
                    left initial
                    border-top none
                    border-left none
                    border-right none
                }
            }
        }

        .company-icon-container {
            width 150px
            height 25px
            background-size 64%
            border 1px solid white

            &:after {
                display block
                position relative
                background-image linear-gradient(to bottom,transparent 0%,#000 390%)
                margin-top -9px
                height 95px
                width 170px
                content ''
                left -10px
                border-radius 5px
            }
        }

    }
}