.company-details-container {

    flex 1
    display flex
    flex-flow column

    position relative

    .company-details {
        flex 1
        display none
        position relative
        min-height 400px
        margin 10px 0px 0px
        top 0
        padding 10px
        background #eee
        border-top 3px solid black

        .company-nav {
            display block
            height 30px
            margin-bottom 25px
            position relative
            z-index 2
            font-family 'Ubuntu', sans-serif

            ul.nav-tabs {
                list-style none
                background #ddd
                padding-left 0
                margin: -10px -10px 0;
                display flex

                li.nav-tab-li, li.nav-tab-placeholder {
                    position: relative;
                    display: block;
                    padding: 10px;
                    cursor: arrow;
                    flex: 1;
                    text-align: center;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    
                    &:last-child {
                        border-right none
                    }
                }

                li.nav-tab-li {
                    max-width 300px
                    cursor pointer

                    &.selected {
                        background #eee
                        border-bottom none
                        &:hover {
                            background #eee
                        }
                    }

                    &:hover {
                        background #bfbfbf
                    }
                }
            }
        }


        & .company-fade-in {
            opacity 0
            transition opacity 1s
            -webkit-transform: translateZ(0);
            position: relative;
            z-index: 2;

            & .content-info {
                text-align: left;
                margin: 0 5px;

                & .date-info {
                    top: -15px;
                    margin-bottom: 10px;
                    position: relative;
                    font-style: italic;
                    font-size: 12px;
                }

                .content-block {
                    display none 

                    &.selected {
                        display block
                    }
                }
            }
        }
        
        &.selected {
            display block

            // & .company-fade-in {
            //     opacity 1    
            // }
        }


        .company-canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            // z-index: 1;
            top: 0;
            left: 0;
            border-radius: 5px;
            overflow: hidden;

            canvas {
                width 100%
                height 100%
                transition opacity 1s
                opacity 1
            }
        }
    }

    

}


@media (max-width:905px) {
    .company-details-container {
        .company-details {
            .company-nav {                
                ul.nav-tabs {
                    
                    li {
                        &:last-child {
                            display none
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:400px) {
    .company-details-container {
        overflow hidden
        
        .company-details {
            border-radius 0
            margin 10px 0 0

            h2 {
                font-size 20px
                text-align center
            }

            h3 {
                font-size 17px
                text-align center
            }

            .date-info {
                font-size 15px
                text-align center
            }


            .company-nav {                
                ul.nav-tabs {
                    font-size 13px
                    li {
                        &:last-child {
                            border-right none
                        }
                    }
                }
            }

        }
    }
}