.company-list-container {
    // display flex
    margin 0 30px 0 30px

    .company-container {
        width 250px
        height 175px
        background url() no-repeat center center
        background-color white       
        // display block
        border 1px solid black
        margin 10px
        border 3px solid #EEE
        border-radius 5px
        padding 10px
        background-size 75%
        cursor pointer
    }

}