.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-around;
}

.slick-list, .slick-slide {
    outline: none !important;
}




.company-list-container {
    // display flex
    

    .company-icon-container {
        width 200px
        height 100px
        background url() no-repeat center center
        background-color white       
        // display block
        border 1px solid black
        margin 10px
        border 3px solid #EEE
        border-radius 5px
        padding 10px
        background-size 75%
        cursor pointer

        &:after {
            display block
            position relative
            background-image linear-gradient(to bottom,transparent 0%,#000 390%)
            margin-top -9px
            height 120px
            width 110%
            content ''
            left -10px
            border-radius 5px
        }

    }

    .company-container {
        position:relative;
        opacity 0.7
        transition opacity 0.5s

        &.selected {
            opacity 1    
        }

        &.selected:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 123px;
            width: 0;
            height: 0;
            border-top: solid 7px #eee;
            border-left: solid 7px transparent;
            border-right: solid 7px transparent;
        }
    }

}

@media (max-width:400px) {
    .company-list-container {
        // display flex
        margin 0
        padding 0px

        .company-icon-container {
            width 150px
            height 75px

            &:after {
                display block
                position relative
                background-image linear-gradient(to bottom,transparent 0%,#000 390%)
                margin-top -9px
                height 95px
                width 170px
                content ''
                left -10px
                border-radius 5px
            }
        }

    }
}