.contact-form {
    flex 1
    font-family 'Nunito', sans-serif
    font-size 25px
    color #444
    background #dddddd
    padding 45px 20px
    
    h2 {
        font-family 'Ubuntu', sans-serif
    }

    a {
        color #1f72ad
    }
}