.experience-container {
    
    .slick-prev {
        left 0
    }

    .slick-next {
        right 0
    }

    .slick-slider {
        padding 15px 0 2px
    }

    .company-list {
        background #212121
        border-radius 0 0 5px 5px
    }

    h1 {
        padding-left 45px
    }
}

@media (max-width:400px) {
    .experience-container {
        padding 0

        h1 {
            text-align center
            padding-left 0
            font-size 20px
        }
    }
}