@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    margin 0
    padding 0
    font-family 'Merriweather', serif
}

h1 {
    font-size 24px
    text-transform uppercase
}

.uppercase {
    text-transform uppercase
}

.center {
    text-align center
}

.vertical-center {
    vertical-align middle
}

.full-height {
    display flex
    align-items center
    background-size cover
    height 100vh
}

.clear {
    clear both
}

@import 'shared/_header.styl'