body {
    margin 0
    padding 0
}

// @font-face {
//     font-family NeutrafaceTextBook
//     src url(../fonts/Neutraface2Text-Book.otf)
// }

h1 {
    font-size 24px
    text-transform uppercase
    // font-family NeutrafaceTextBook
}

.uppercase {
    text-transform uppercase
}

.center {
    text-align center
}

.vertical-center {
    vertical-align middle
}

.full-height {
    display flex
    align-items center
    background-size cover
    height 100vh
}

.clear {
    clear both
}

@import 'shared/_header.styl'