.highlighted-item {
    width: 80%;

    .highlight-icon {

        
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 37.5px 0 37.5px 50px;
            border-color: transparent transparent transparent #007bff;
        
    }
}